/* RESET CSS */

html {
  box-sizing: border-box;
  font-size: 16px;
}

/* prettier-ignore */
*, *:before, *:after {
    box-sizing: inherit;
  }

/* prettier-ignore */
body, h1, h2, h3, h4, h5, h6, p, ol, ul {
    margin: 0;
    padding: 0;
    font-weight: normal;
  }

/* prettier-ignore */
ol, ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

/* START */

#chat-screen {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #252331;
  border-radius: 20px 20px 0px 0px;
  width: 600px;
  height: 300px;
  margin: auto;
  overflow: auto;
}

.msg-chat {
  border-radius: 10px;
  padding: 5px;
}

* {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

body {
  background-color: #1e1f27;
}

header {
  font-size: 24px;
  color: #eeecfa;
  text-align: center;
  padding-bottom: 20px;
}

h1.logo {
  font-size: 2.5em;
  color: #eeecfa;
  text-shadow: 2px 2px 4px #000000;
  text-transform: uppercase;
  letter-spacing: 2px;
  transition: all 0.5s ease;
}

h1.logo:hover {
  color: #9e6fcf;
  text-shadow: 0 0 10px #9e6fcf, 0 0 20px #9e6fcf, 0 0 30px #9e6fcf,
    0 0 40px #9e6fcf;
}

.message-item {
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  word-wrap: break-word;
  white-space: pre-wrap;
  word-break: break-word;
}

.msg-user {
  color: #eeecfa;
  padding: 0px 0px 4px 0px;
}

.msg-chat {
  font-size: 16px;
  padding: 10px;
  border-radius: 0px 15px 15px 15px;
  max-width: 50%;
}

.message-item .msg-chat {
  align-items: flex-start;
  display: flex;
  color: #eeecfa;
  background-color: #343145;
}

.message-user {
  align-items: flex-end;
  color: #eeecfa;
}

.message-user .msg-chat {
  border-radius: 15px 0px 15px 15px;
  background-color: #894ec9;
  color: #eeecfa;
}

#chat-form {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #252331;
  border-radius: 0px 0px 20px 20px;
  width: 100%;
  gap: 10px;
  padding: 10px 10px 5px 10px;
}

input {
  border: 2px solid transparent;
}

input:focus {
  outline: none;
  border-color: #343145;
  transition: 0.2s ease-in-out;
}

form input {
  font-size: 16px;
  flex-grow: 1;
  border: none;
  background-color: #1e1c26;
  transition: all 1s ease-in-out;
  border: 2px solid transparent;
  color: #eeecfa;
  border-radius: 10px;
  padding: 15px;
  width: 75%;
}

form button {
  font-size: 20px;
  border-radius: 10px;
  background-color: #1e1c26;
  color: #eeecfa;
  padding: 12px;
  width: 25%;
}

form button:hover {
  background-color: #894ec9;
  transition: 0.25s ease-in-out;
}

form button:active {
  background-color: #894ec9;
  transform: scale(0.95);
  transition: 0.1s ease-in-out;
}

form button:focus {
  outline: none;
}

.messages-list {
  max-height: 500px;
  max-width: 600px;
  overflow-x: hidden;
}

/* SCROLLBAR */

/* Width */
::-webkit-scrollbar {
  width: 10px;
  height: auto;
}

/* Track */
::-webkit-scrollbar-track {
  background: #252331;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #343145;
  border-radius: 10px;
}
